<%= form_with(model: contum) do |form| %>
  <% if contum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(contum.errors.count, "error") %> prohibited this contum from being saved:</h2>

      <ul>
        <% contum.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nomeDaConta %>
    <%= form.text_field :nomeDaConta %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
