<p id="notice"><%= notice %></p>

<p>
  <strong>Movimentacao:</strong>
  <%= @extract.movimentacao %>
</p>

<p>
  <strong>Tipo:</strong>
  <%= @extract.tipo %>
</p>

<p>
  <strong>Valor:</strong>
  <%= @extract.valor %>
</p>

<%#= link_to 'Edit', edit_extract_path(@extract) %>
<%= link_to 'Back', extracts_path %>
